.titlebar
{
	background:#404040;
	height:16px;
	padding:5px 0px 9px 9px;
	font:bold 14px verdana;
	color:#FFFFFF;
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	margin-right:235px;
}

.contentsection
{
	background: #e0e0e0;
	padding:10px;
	border:1px solid #808080;
	font:12px verdana;
	color:#000000;
	-moz-border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px;
	margin-right:235px;
}

.contentsection ul
{
	margin:5px 10px;
	padding:0px;
}

.contentsection ul li
{
	margin:5px 10px;
	padding:0px;
}