/* UDN New Styles */


/* Additional Templates */

.leftcolumn {
	WIDTH: 420px; FLOAT: left; HEIGHT: 100%
}

.rightcolumn {
	WIDTH: 420px; FLOAT: left; HEIGHT: 100%
}

.info {
	MARGIN-TOP: 2px; WIDTH: 95%; BACKGROUND: #efefef
}

.ftitle {
	MARGIN-TOP: 4px; WIDTH: 95%; BACKGROUND: #d9e8e8; FONT-WEIGHT: bold; font-color: black
}

.farticle {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; WIDTH: 95%; BACKGROUND: #fdfdfd; BORDER-TOP: #cccccc 0px solid; BORDER-RIGHT: #cccccc 1px solid
}

.float {
	FLOAT: left
}

.float P {
	TEXT-ALIGN: center
}

DIV.spacer {
	CLEAR: both
}

A A:link {
	TEXT-DECORATION: none
}

A:visited {
	TEXT-DECORATION: none
}

A:active {
	TEXT-DECORATION: none
}

A:hover {
	TEXT-DECORATION: none
}


/* WEB-SPECIFIC */

#webAdmin #toolband {
	BACKGROUND-COLOR: #bbb97c; COLOR: #fff
}

#webEngine #toolband {
	BACKGROUND-COLOR: #bbb97c; COLOR: #fff
}

#webFour #toolband {
	BACKGROUND-COLOR: #d5d5d5; COLOR: #fff
}

#webMain #toolband {
	BACKGROUND-COLOR: #d5d5d5; COLOR: #fff
}

#webOne #toolband {
	BACKGROUND-COLOR: #d5d5d5; COLOR: #fff
}

#webPowered #toolband {
	BACKGROUND-COLOR: #b18a6f; COLOR: #fff
}

#webTWiki #toolband {
	BACKGROUND-COLOR: #dbada7; COLOR: #fff
}

#webThree #toolband {
	BACKGROUND-COLOR: #d5d5d5; COLOR: #fff
}

#webTwo #toolband {
	BACKGROUND-COLOR: #9ca4be; COLOR: #fff
}

#webTest #toolband {
	BACKGROUND-COLOR: #9ca4be; COLOR: #fff
}

#webTrash #toolband {
	BACKGROUND-COLOR: #b5aa87; COLOR: #fff
}

#webUDNDev #toolband {
	BACKGROUND-COLOR: #b5aa87; COLOR: #fff
}


/* WEB-SPECIFIC (Engine) */

#webEngine {
	BACKGROUND-COLOR: #bbb97c
}
#webEngine #head {
	
}
#webEngine #pagedefault {
	BACKGROUND: url(../../pub/_lines.html) #fff 0px 0px
}
#webEngine #maincol {
	BACKGROUND: url(../../pub/_bg_bot.html) no-repeat 0px 0px
}
#webbgEngine {
	BACKGROUND-COLOR: #bbb97c
}
#webEngine #footer {
	BACKGROUND-COLOR: #bbb97c
}
#webEngine #tooltop {
	BACKGROUND-COLOR: #bbb97c
}
#webEngine #tooltop {
	BACKGROUND-IMAGE: url(../../pub/_tooltop.html); COLOR: #fff
}
#webEngine #tooltext {
	BACKGROUND-COLOR: #dfdc94
}
#webEngine #tooltexttwo {
	BACKGROUND-COLOR: #dfdc94
}
#webEngine #toolbottom {
	BACKGROUND: url(../../pub/_toolbot.html) no-repeat center top
}
#webEngine .linkedimages A:link {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .linkedimages A:visited {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .linkedimages A:hover {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .linkedimages A:active {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine UL.nav LI.nav_Engine A {
	BORDER-BOTTOM: #003950 1px solid; BORDER-LEFT: #003950 1px solid; BACKGROUND-COLOR: #f3f0a8; BORDER-TOP: #003950 1px solid; BORDER-RIGHT: #003950 1px solid
}
#webEngine UL.nav LI.nav_Engine A:hover {
	BORDER-BOTTOM: #003950 1px solid; BORDER-LEFT: #003950 1px solid; BACKGROUND-COLOR: #f3f0a8; BORDER-TOP: #003950 1px solid; BORDER-RIGHT: #003950 1px solid
}
#webEngine #footer {
	COLOR: #fff
}


/* WEB-SPECIFIC (Main) */

#webMain {
	BACKGROUND-COLOR: #ffffff
}
#webMain #head {
	
}
#webMain #pagedefault {
	BACKGROUND: url(../../pub/Main_lines.gif) #fff 0px 0px
}
#webbgMain {
	BACKGROUND-COLOR: #666666
}
#webMain #footer {
	BACKGROUND-COLOR: #666666
}
#webMain #tooltop {
	BACKGROUND-COLOR: #666666
}
#webMain #tooltop {
	BACKGROUND-IMAGE: url(../../pub/Main_tooltop.gif); COLOR: #fff
}
#webMain #tooltext {
	BACKGROUND-COLOR: #dedede
}
#webMain #tooltexttwo {
	BACKGROUND-COLOR: #dedede
}
#webMain #toolbottom {
	BACKGROUND: url(../../pub/Main_toolbot.gif) no-repeat center top
}
#webMain .linkedimages A:link {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .linkedimages A:visited {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .linkedimages A:hover {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .linkedimages A:active {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webMain UL.nav LI.nav_Main A {
	BORDER-BOTTOM: #003950 1px solid; BORDER-LEFT: #003950 1px solid; BACKGROUND-COLOR: #eee; BORDER-TOP: #003950 1px solid; BORDER-RIGHT: #003950 1px solid
}
#webMain UL.nav LI.nav_Main A:hover {
	BORDER-BOTTOM: #003950 1px solid; BORDER-LEFT: #003950 1px solid; BACKGROUND-COLOR: #eee; BORDER-TOP: #003950 1px solid; BORDER-RIGHT: #003950 1px solid
}
#webMain #footer {
	COLOR: #fff
}


/* WEB-SPECIFIC (Powered) */

#webPowered {
	BACKGROUND-COLOR: #b18a6f
}
#webPowered #head {
	
}
#webPowered #pagedefault {
	BACKGROUND: url(../../pub/Powered_lines.html) #fff 0px 0px
}
#webPowered #maincol {
	BACKGROUND: url(../../pub/Powered_bg_bot.html) no-repeat 0px 0px
}
#webbgPowered {
	BACKGROUND-COLOR: #b18a6f
}
#webPowered #footer {
	BACKGROUND-COLOR: #b18a6f
}
#webPowered #tooltop {
	BACKGROUND-COLOR: #b18a6f
}
#webPowered #tooltop {
	BACKGROUND-IMAGE: url(../../pub/Powered_tooltop.html); COLOR: #fff
}
#webPowered #tooltext {
	BACKGROUND-COLOR: #deae8c
}
#webPowered #tooltexttwo {
	BACKGROUND-COLOR: #deae8c
}
#webPowered #toolbottom {
	BACKGROUND: url(../../pub/Powered_toolbot.html) no-repeat center top
}
#webPowered .linkedimages A:link {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webPowered .linkedimages A:visited {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webPowered .linkedimages A:hover {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webPowered .linkedimages A:active {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webPowered UL.nav LI.nav_Powered A {
	BORDER-BOTTOM: #003950 1px solid; BORDER-LEFT: #003950 1px solid; BACKGROUND-COLOR: #f8caa7; BORDER-TOP: #003950 1px solid; BORDER-RIGHT: #003950 1px solid
}
#webPowered UL.nav LI.nav_Powered A:hover {
	BORDER-BOTTOM: #003950 1px solid; BORDER-LEFT: #003950 1px solid; BACKGROUND-COLOR: #f8caa7; BORDER-TOP: #003950 1px solid; BORDER-RIGHT: #003950 1px solid
}
#webPowered #footer {
	COLOR: #fff
}


/* WEB-SPECIFIC (TWiki) */

#webTWiki {
	BACKGROUND-COLOR: #dbada7
}
#webTWiki #head {
	
}
#webTWiki #pagedefault {
	BACKGROUND: url(../../pub/TWiki_lines.gif) #fff 0px 0px
}
#webTWiki #maincol {
	BACKGROUND: url(../../pub/TWiki_bg_bot.html) no-repeat 0px 0px
}
#webbgTWiki {
	BACKGROUND-COLOR: #dbada7
}
#webTWiki #footer {
	BACKGROUND-COLOR: #dbada7
}
#webTWiki #tooltop {
	BACKGROUND-COLOR: #dbada7
}
#webTWiki #tooltop {
	BACKGROUND-IMAGE: url(../../pub/TWiki_tooltop.gif); COLOR: #fff
}
#webTWiki #tooltext {
	BACKGROUND-COLOR: #f8f4f2
}
#webTWiki #tooltexttwo {
	BACKGROUND-COLOR: #f8f4f2
}
#webTWiki #toolbottom {
	BACKGROUND: url(../../pub/TWiki_toolbot.gif) no-repeat center top
}
#webTWiki .linkedimages A:link {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTWiki .linkedimages A:visited {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTWiki .linkedimages A:hover {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTWiki .linkedimages A:active {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTWiki UL.nav LI.nav_TWiki A {
	BORDER-BOTTOM: #003950 1px solid; BORDER-LEFT: #003950 1px solid; BACKGROUND-COLOR: #f9cbc5; BORDER-TOP: #003950 1px solid; BORDER-RIGHT: #003950 1px solid
}
#webTWiki UL.nav LI.nav_TWiki A:hover {
	BORDER-BOTTOM: #003950 1px solid; BORDER-LEFT: #003950 1px solid; BACKGROUND-COLOR: #f9cbc5; BORDER-TOP: #003950 1px solid; BORDER-RIGHT: #003950 1px solid
}
#webTWiki #footer {
	COLOR: #fff
}


/* WEB-SPECIFIC (Three) */

#webThree {
	
}
#webThree #head {
	BACKGROUND-COLOR: #ffffff
}
#webThree #pagedefault {
	BACKGROUND: url(../../pub/Three_lines.gif) #fff 0px 0px
}
#webThree #maincol {
	
}
#webbgThree {
	BACKGROUND-COLOR: #666666
}
#webThree #footer {
	BACKGROUND-COLOR: #666666
}
#webThree #tooltop {
	BACKGROUND-COLOR: #666666
}
#webThree #tooltop {
	BACKGROUND-IMAGE: url(../../pub/Three_tooltop.gif); COLOR: #fff
}
#webThree #tooltext {
	BACKGROUND-COLOR: #dde6ef
}
#webThree #tooltexttwo {
	BACKGROUND-COLOR: #dde6ef
}
#webThree #toolbottom {
	BACKGROUND: url(../../pub/Three_toolbot.gif) no-repeat center top
}
#webThree .linkedimages A:link {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webThree .linkedimages A:visited {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webThree .linkedimages A:hover {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webThree .linkedimages A:active {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webThree UL.nav LI.nav_Three A {
	FONT-FAMILY: Arial; COLOR: #444444; TEXT-DECORATION: none
}
#webThree UL.nav LI.nav_Three A:hover {
	FONT-FAMILY: Arial; COLOR: #dddddd; TEXT-DECORATION: none
}
#webThree #footer {
	COLOR: #fff
}


/* WEB-SPECIFIC (Two) */

#webTwo {
	BACKGROUND-COLOR: #9ca4be
}
#webTwo #head {
	BACKGROUND-COLOR: #ffffff
}
#webTwo #pagedefault {
	BACKGROUND: url(../../pub/Two_lines.gif) #fff 0px 0px
}
#webTwo #maincol {
	
}
#webbgTwo {
	BACKGROUND-COLOR: #9ca4be
}
#webTwo #footer {
	BACKGROUND-COLOR: #9ca4be
}
#webTwo #tooltop {
	BACKGROUND-COLOR: #9ca4be
}
#webTwo #tooltop {
	BACKGROUND-IMAGE: url(../../pub/Two_tooltop.gif); COLOR: #fff
}
#webTwo #tooltext {
	BACKGROUND-COLOR: #b6bdde
}
#webTwo #tooltexttwo {
	BACKGROUND-COLOR: #b6bdde
}
#webTwo #toolbottom {
	BACKGROUND: url(../../pub/Two_toolbot.gif) no-repeat center top
}
#webTwo .linkedimages A:link {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTwo .linkedimages A:visited {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTwo .linkedimages A:hover {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTwo .linkedimages A:active {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTwo #footer {
	COLOR: #fff
}


/* WEB-SPECIFIC (Test) */

#webTest {
	BACKGROUND-COLOR: #9ca4be
}
#webTest #head {
	BACKGROUND-COLOR: #ffffff
}
#webTest #pagedefault {
	BACKGROUND: url(../../pub/Test_lines.html) #fff 0px 0px
}
#webTest #maincol {
	
}
#webbgTest {
	BACKGROUND-COLOR: #9ca4be
}
#webTest #footer {
	BACKGROUND-COLOR: #9ca4be
}
#webTest #tooltop {
	BACKGROUND-COLOR: #9ca4be
}
#webTest #tooltop {
	BACKGROUND-IMAGE: url(../../pub/Test_tooltop.html); COLOR: #fff
}
#webTest #tooltext {
	BACKGROUND-COLOR: #b6bdde
}
#webTest #tooltexttwo {
	BACKGROUND-COLOR: #b6bdde
}
#webTest #toolbottom {
	BACKGROUND: url(../../pub/Test_toolbot.html) no-repeat center top
}
#webTest .linkedimages A:link {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTest .linkedimages A:visited {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTest .linkedimages A:hover {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTest .linkedimages A:active {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTest #footer {
	COLOR: #fff
}


/* WEB-SPECIFIC (Trash) */

#webTrash {
	BACKGROUND-COLOR: #b5aa87
}
#webTrash #head {
	BORDER-BOTTOM: #b5aa87 5px solid; BACKGROUND: url(../../pub/Trash_bg_top.html) #f4f1ed no-repeat 0px 0px
}
#webTrash #pagedefault {
	BACKGROUND: url(../../pub/Trash_lines.gif) #fff 0px 0px
}
#webTrash #maincol {
	BACKGROUND: url(../../pub/Trash_bg_bot.html) no-repeat 0px 0px
}
#webbgTrash {
	BACKGROUND-COLOR: #b5aa87
}
#webTrash #footer {
	BACKGROUND-COLOR: #b5aa87
}
#webTrash #tooltop {
	BACKGROUND-COLOR: #b5aa87
}
#webTrash #tooltop {
	BACKGROUND-IMAGE: url(../../pub/Trash_tooltop.gif); COLOR: #fff
}
#webTrash #tooltext {
	BACKGROUND-COLOR: #ded0a6
}
#webTrash #tooltexttwo {
	BACKGROUND-COLOR: #ded0a6
}
#webTrash #toolbottom {
	BACKGROUND: url(../../pub/Trash_toolbot.gif) no-repeat center top
}
#webTrash .linkedimages A:link {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTrash .linkedimages A:visited {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTrash .linkedimages A:hover {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTrash .linkedimages A:active {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTrash UL.nav LI.nav_Trash A {
	BORDER-BOTTOM: #003950 1px solid; BORDER-LEFT: #003950 1px solid; BACKGROUND-COLOR: #f2e4ba; BORDER-TOP: #003950 1px solid; BORDER-RIGHT: #003950 1px solid
}
#webTrash UL.nav LI.nav_Trash A:hover {
	BORDER-BOTTOM: #003950 1px solid; BORDER-LEFT: #003950 1px solid; BACKGROUND-COLOR: #f2e4ba; BORDER-TOP: #003950 1px solid; BORDER-RIGHT: #003950 1px solid
}
#webTrash #footer {
	COLOR: #fff
}


/* MORE WEB-SPECIFIC */

#webAdmin {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px; voice-family: inherit
}
#webEngine {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px; voice-family: inherit
}
#webFour {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px; voice-family: inherit
}
#webMain {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px; voice-family: inherit
}
#webOne {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px; voice-family: inherit
}
#webPowered {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px; voice-family: inherit
}
#webTWiki {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px; voice-family: inherit
}
#webThree {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px; voice-family: inherit
}
#webTwo {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px; voice-family: inherit
}
#webTest {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px; voice-family: inherit
}
#webTrash {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px; voice-family: inherit
}
#webUDNDev {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px; voice-family: inherit
}


/* GLOBAL */

UNKNOWN {
	WIDTH: auto
}
#head {
	HEIGHT: 140px
}
#logo {
	POSITION: absolute; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; TOP: 0px; PADDING-TOP: 0px; LEFT: 40px
}
#title {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 159px; PADDING-RIGHT: 0px; PADDING-TOP: 31px
}
#nav {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 280px; PADDING-RIGHT: 0px; PADDING-TOP: 82px
}
#maincol {
	PADDING-BOTTOM: 30px; BACKGROUND-COLOR: transparent; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; HEIGHT: 100%; PADDING-TOP: 10px
}
#footer {
	TEXT-ALIGN: right; PADDING-BOTTOM: 30px; PADDING-LEFT: 0px; PADDING-RIGHT: 4px; FONT-SIZE: 0.85em; PADDING-TOP: 4px
}
#hometop {
	PADDING-BOTTOM: 40px; PADDING-LEFT: 0px; WIDTH: 400px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
#hometop P {
	LINE-HEIGHT: 1.33em; FONT-STYLE: italic; MARGIN: 0px; WIDTH: 400px; PADDING-TOP: 5px
}
#homequickies {
	WIDTH: 325px; FLOAT: left
}
DIV.homequickie {
	WIDTH: 325px
}
DIV.homequickieimage {
	TEXT-ALIGN: right; WIDTH: 130px; FLOAT: left
}
DIV.homequickietext {
	WIDTH: 190px; FLOAT: left
}
DIV.homequickietext P {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 1.33em; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 0.85em; PADDING-TOP: 0px
}
#homeweblinks {
	BORDER-LEFT: #000 1px solid; WIDTH: 270px; FLOAT: left
}
DIV.homeweblink {
	WIDTH: 270px
}
DIV.homeweblinkimage {
	TEXT-ALIGN: right; WIDTH: 65px; FLOAT: left
}
DIV.homeweblinktext {
	FLOAT: left
}
DIV.homeweblinktext P {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.33em; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 10px; FONT-SIZE: 0.85em; PADDING-TOP: 0px
}
#homebottom {
	MARGIN-TOP: 40px; WIDTH: 600px
}
DIV.homebottomimage {
	PADDING-RIGHT: 30px; FLOAT: left
}


/* TOC */

#pagetoc IMG {
	PADDING-BOTTOM: 1em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
#pagetoc UL {
	PADDING-BOTTOM: 1em; MARGIN-TOP: 0px; WIDTH: 200px; FLOAT: left; PADDING-TOP: 0px
}
DIV.spacer {
	CLEAR: left
}
#pagetoc .linksimage {
	WIDTH: 445px
}
#pagetoc2 .image {
	PADDING-BOTTOM: 1em; WIDTH: 245px; FLOAT: left; PADDING-TOP: 0px
}
#pagetoc2 UL {
	MARGIN-TOP: 0px; PADDING-TOP: 0px
}
#pagetoc2 .links {
	PADDING-BOTTOM: 1em; WIDTH: 200px; PADDING-RIGHT: 0.5em; FLOAT: left
}
#pagetoc2 .image A {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
#tool {
	PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px 20px; PADDING-LEFT: 0px; WIDTH: 215px; PADDING-RIGHT: 0px; FLOAT: right; PADDING-TOP: 0px
}
#toolbottom {
	PADDING-BOTTOM: 0px; MARGIN: -1px 0px 0px; PADDING-LEFT: 0px; WIDTH: 215px; PADDING-RIGHT: 0px; HEIGHT: 12px; PADDING-TOP: 0px
}
#tooltop {
	TEXT-ALIGN: center; PADDING-BOTTOM: 1px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 215px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: tahoma, arial, sans-serif; FONT-SIZE: 1em; FONT-WEIGHT: bold; PADDING-TOP: 1px
}
#tooltext {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 0.85em; PADDING-TOP: 10px
}
#tooltexttwo {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 0.85em; PADDING-TOP: 10px
}
#tooltext HR {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #fff; PADDING-TOP: 4px
}
#tooltexttwo HR {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #fff; PADDING-TOP: 4px
}
#toolband {
	TEXT-ALIGN: center; PADDING-BOTTOM: 1px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 215px; PADDING-RIGHT: 0px; FONT-FAMILY: tahoma, arial, sans-serif; FONT-SIZE: 1em; FONT-WEIGHT: bold; PADDING-TOP: 1px
}
BODY {
	FONT-FAMILY: verdana, tahoma, arial, helvetica, sans-serif; FONT-SIZE: small; voice-family: inherit
}
TD {
	FONT-FAMILY: verdana, tahoma, arial, helvetica, sans-serif; FONT-SIZE: small; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: x-small
}
UNKNOWN {
	FONT-SIZE: small
}
A:link {
	BORDER-BOTTOM: #123161 1px solid; BACKGROUND-COLOR: transparent; COLOR: #000; TEXT-DECORATION: none
}
A:active {
	BORDER-BOTTOM: #123161 1px solid; BACKGROUND-COLOR: transparent; COLOR: #000; TEXT-DECORATION: none
}
A:visited {
	BORDER-BOTTOM: #123161 1px solid; BACKGROUND-COLOR: transparent; COLOR: #999; TEXT-DECORATION: none
}
A:hover {
	BORDER-BOTTOM: #123161 1px solid; COLOR: #000; TEXT-DECORATION: none
}


/* WEB-SPECIFIC LINKS */

#webEngine .homequickieimage A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .homequickieimage A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .homequickieimage A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .homequickieimage A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .homebottomimage A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .homebottomimage A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .homebottomimage A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .homebottomimage A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .homeweblinkimage A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .homeweblinkimage A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .homeweblinkimage A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .homeweblinkimage A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}

#webMain .homequickieimage A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .homequickieimage A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .homequickieimage A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .homequickieimage A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .homebottomimage A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .homebottomimage A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .homebottomimage A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .homebottomimage A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .homeweblinkimage A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .homeweblinkimage A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .homeweblinkimage A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .homeweblinkimage A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}

UL.nav {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; FONT-FAMILY: Arial; COLOR: #444444; TEXT-DECORATION: none; PADDING-TOP: 0px
}
UL.nav LI {
	PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: inline; FONT-FAMILY: Arial; COLOR: #dddddd; MARGIN-LEFT: 0px; TEXT-DECORATION: none
}
UL.nav A:link {
	BORDER-BOTTOM: #123161 0px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: transparent; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; COLOR: #00395d; FONT-SIZE: 1em; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 2px
}
UL.nav A:visited {
	BORDER-BOTTOM: #123161 0px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: transparent; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; COLOR: #00395d; FONT-SIZE: 1em; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 2px
}
UL.nav A:active {
	BORDER-BOTTOM: #123161 0px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: transparent; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; COLOR: #00395d; FONT-SIZE: 1em; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 2px
}
UL.nav A:hover {
	BORDER-BOTTOM: #123161 0px solid; TEXT-DECORATION: none
}


/* FORMS */

FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
SELECT {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1em; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: verdana, tahoma, arial, helvetica, sans-serif; FONT-SIZE: 0.9em; PADDING-TOP: 0px
}
INPUT.search {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1em; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: verdana, tahoma, arial, helvetica, sans-serif; FONT-SIZE: 0.9em; PADDING-TOP: 0px
}
INPUT.submit {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1em; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: verdana, tahoma, arial, helvetica, sans-serif; FONT-SIZE: 0.9em; PADDING-TOP: 0px
}
SELECT {
	MARGIN-BOTTOM: 4px
}
INPUT.search {
	BACKGROUND-COLOR: #fff; COLOR: #000
}
INPUT.submit {
	BACKGROUND-COLOR: #fff; COLOR: #000
}


/* TABLES */

TABLE {
	BACKGROUND-COLOR: #ccc
}
TD {
	BACKGROUND-COLOR: #fff
}
TH {
	BACKGROUND-COLOR: #fff
}
.wikidoc {
	BACKGROUND-COLOR: #ffffc3
}


/* BASICS */

A.restricted {
	COLOR: #ff0000
}
A.restricted:visited {
	COLOR: #ff0000
}
BODY {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.5em; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; PADDING-TOP: 0px
}
CODE {
	FONT-FAMILY: monospace; FONT-SIZE: 100%; FONT-WEIGHT: normal
}
TT {
	FONT-FAMILY: monospace; FONT-SIZE: 100%; FONT-WEIGHT: normal
}
PRE {
	FONT-FAMILY: monospace; FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H1 {
	FONT-FAMILY: tahoma, arial, sans-serif; LETTER-SPACING: 0.05em; COLOR: #123161; FONT-WEIGHT: bold
}
H2 {
	FONT-FAMILY: tahoma, arial, sans-serif; LETTER-SPACING: 0.05em; COLOR: #123161; FONT-WEIGHT: bold
}
H3 {
	FONT-FAMILY: tahoma, arial, sans-serif; LETTER-SPACING: 0.05em; COLOR: #123161; FONT-WEIGHT: bold
}
H4 {
	FONT-FAMILY: tahoma, arial, sans-serif; LETTER-SPACING: 0.05em; COLOR: #123161; FONT-WEIGHT: bold
}
H5 {
	FONT-FAMILY: tahoma, arial, sans-serif; LETTER-SPACING: 0.05em; COLOR: #123161; FONT-WEIGHT: bold
}
H6 {
	FONT-FAMILY: tahoma, arial, sans-serif; LETTER-SPACING: 0.05em; COLOR: #123161; FONT-WEIGHT: bold
}
H1 {
	FONT-WEIGHT: bold
}
H2 {
	FONT-WEIGHT: normal
}
H3 {
	FONT-WEIGHT: normal
}
H4 {
	FONT-WEIGHT: normal
}
H5 {
	FONT-WEIGHT: normal
}
H6 {
	FONT-WEIGHT: normal
}
H2 {
	MARGIN-TOP: 1.5em
}
H3 {
	MARGIN-TOP: 1.5em
}
H1 {
	FONT-SIZE: 1.9em
}
H2 {
	FONT-SIZE: 1.7em
}
H3 {
	FONT-SIZE: 1.6em
}
H4 {
	FONT-SIZE: 1.5em
}
H5 {
	FONT-SIZE: 1.4em
}
H6 {
	FONT-SIZE: 1.2em
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.hide {
	DISPLAY: none
}
