.titlebar
{
	background:#404040;
	height:16px;
	padding:5px 0px 9px 9px;
	font:bold 14px verdana;
	color:#FFFFFF;
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	margin-right:235px;
}

div.codesnippet
{
	margin:0px 10px; 
	padding:0px 10px;
	background:#f0f0f0;
	font:12px Courier;
	max-height:500px;
	overflow:auto;
	border:2px inset #989898;
}

.contentsection
{
	background: #e0e0e0;
	padding:10px;
	border:1px solid #808080;
	font:12px verdana;
	color:#000000;
	-moz-border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px;
	margin-right:235px;
}

.standalonecontentsection
{
	background: #e0e0e0;
	padding:10px;
	border:1px solid #808080;
	font:12px verdana;
	color:#000000;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	margin-right:235px;
}

.contentsection ul
{
	margin:5px 10px;
	padding:0px;
}

.contentsection ul li
{
	margin:5px 10px;
	padding:0px;
}

.feature_horiz
{
	width:670px;
	height:110px;
	background: #e0e0e0;
	border:1px solid #808080;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
}

.feature_horiz a img
{
	float:left;
	margin:6px 22px;
	width:98px;
	height:98px;
	border:0px solid #000000;
}

.feature_horiz img
{
	float:left;
	margin:6px 22px;
	width:98px;
	height:98px;
	border:0px solid #000000;
}

.feature_title
{
	margin:8px 0px 8px 0px;
	font:bold 16px Helvetica, Arial, sans-serif;
	color:#a80403;
}

.feature_title a
{
	font:bold 16px Helvetica, Arial, sans-serif;
	color:#a80403;
	text-decoration:none;
	border-bottom:0px solid #000000;
}

.feature_content
{
	margin:10px 0px 10px 0px;
	color:#000000;
	font:13px Helvetica, Arial, sans-serif;
	line-height:1.5em;
}