.regionhead_closed
{
	margin-top:2px;
	background:#404040;
	border:1px solid #404040;
	border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	color:#FFFFFF;
	cursor:pointer;
	padding:5px;
	font:bold 12px arial;
	minimum-width: 700px;
}
.regionhead_open
{
	margin-top:2px;
	background:#404040;
	border:1px solid #404040;
	border-radius: 5px 0px 0px 0px;
	-moz-border-radius: 5px 0px 0px 0px;
	-webkit-border-radius: 5px 0px 0px 0px;
	color:#FFFFFF;
	cursor:pointer;
	padding:5px;
	font:bold 12px arial;
	minimum-width: 700px;
}
.regionimage
{
	background:no-repeat scroll 0 0 transparent;
	margin-right:5px;
	display:inline-block;
    width:10px;
	height:10px;
}
.regioncontent
{
	border-top:1px solid #404040;
	border-left:1px solid #404040;
	border-right:1px solid #404040;
	border-bottom:6px solid #404040;
	border-radius: 0px 0px 0px 5px;
	-moz-border-radius: 0px 0px 0px 5px;
	-webkit-border-radius: 0px 0px 0px 5px;
	padding:10px;
	display:none;
	background:#f0f0f0;
}
.regioncontent_visible
{
	border-top:1px solid #404040;
	border-left:1px solid #404040;
	border-right:1px solid #404040;
	border-bottom:6px solid #404040;
	border-radius: 0px 0px 0px 5px;
	-moz-border-radius: 0px 0px 0px 5px;
	-webkit-border-radius: 0px 0px 0px 5px;
	padding:10px;
	display:lock;
	background:#f0f0f0;
}
.regioncontent_static
{
	border-top:6px solid #404040;
	border-left:1px solid #404040;
	border-right:1px solid #404040;
	border-bottom:6px solid #404040;
	border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	padding:10px;
	background:#f0f0f0;
}