/* TWiki webs layout and styles */


/* WEB-SPECIFIC */

#webAdmin #toolband {
	BACKGROUND-COLOR: #545454; COLOR: #fdfddb
}

#webEngine #toolband {
	BACKGROUND-COLOR: #545454; COLOR: #fdfddb
}

#webFour #toolband {
	BACKGROUND-COLOR: #545454; COLOR: #fdfddb
}

#webMain #toolband {
	BACKGROUND-COLOR: #545454; COLOR: #fdfddb
}

#webOne #toolband {
	BACKGROUND-COLOR: #545454; COLOR: #fdfddb
}

#webPowered #toolband {
	BACKGROUND-COLOR: #545454; COLOR: #fdfddb
}

#webTWiki #toolband {
	BACKGROUND-COLOR: #545454; COLOR: #fdfddb
}

#webThree #toolband {
	BACKGROUND-COLOR: #545454; COLOR: #fdfddb
}

#webTwo #toolband {
	BACKGROUND-COLOR: #545454; COLOR: #fdfddb
}
#webTest #toolband {
	BACKGROUND-COLOR: #545454; COLOR: #fdfddb
}

#webTrash #toolband {
	BACKGROUND-COLOR: #545454; COLOR: #fdfddb
}

#webUDNDev #toolband {
	BACKGROUND-COLOR: #545454; COLOR: #fdfddb
}


/* WEB-SPECIFIC LINKS */

#webEngine .homequickieimage A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .homequickieimage A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .homequickieimage A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .homequickieimage A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .homebottomimage A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .homebottomimage A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .homebottomimage A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .homebottomimage A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .homeweblinkimage A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .homeweblinkimage A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .homeweblinkimage A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .homeweblinkimage A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}

#webMain .homequickieimage A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .homequickieimage A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .homequickieimage A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .homequickieimage A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .homebottomimage A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .homebottomimage A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .homebottomimage A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .homebottomimage A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .homeweblinkimage A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .homeweblinkimage A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .homeweblinkimage A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .homeweblinkimage A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}



/* WEB-SPECIFIC (Admin) */

#webAdmin {
	BACKGROUND-COLOR: #f1f1f1
}
#webAdmin #head {
	
}
#webAdmin #pagedefault {
	BACKGROUND: url(../../pub/Admin_lines.html) #f1f1f1 0px 0px
}
#webAdmin #maincol {
	BACKGROUND: url(../../pub/Admin_bg_bot.html) no-repeat 0px 0px
}
#webbgAdmin {
	BACKGROUND-COLOR: #bbb97c
}
#webAdmin #footer {
	BACKGROUND-COLOR: #bbb97c
}
#webAdmin #tooltop {
	BACKGROUND-COLOR: #545454; COLOR: #fdfddb;
<!--
	BACKGROUND-IMAGE: url(../../pub/Admin_tooltop.html)
 -->
}
#webAdmin #tooltext {
	BACKGROUND-COLOR: #dfdc94
}
#webAdmin #tooltexttwo {
	BACKGROUND-COLOR: #dfdc94
}
#webAdmin #toolbottom {
	BACKGROUND-COLOR: #545454;
<!--
	BACKGROUND: url(../../pub/Admin_toolbot.html) no-repeat center top
 -->
}
#webAdmin .linkedimages A:link {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webAdmin .linkedimages A:visited {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webAdmin .linkedimages A:hover {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webAdmin .linkedimages A:active {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webAdmin #footer {
	COLOR: #fff
}


/* WEB-SPECIFIC (Engine) */

#webEngine {
	BACKGROUND-COLOR: #f1f1f1
}
#webEngine #head {
	
}
#webEngine #pagedefault {
	BACKGROUND: url(../../pub/_lines.html) #f1f1f1 0px 0px
}
#webEngine #maincol {
	BACKGROUND: url(../../pub/_bg_bot.html) no-repeat 0px 0px
}
#webbgEngine {
	BACKGROUND-COLOR: #bbb97c
}
#webEngine #footer {
	BACKGROUND-COLOR: #bbb97c
}
#webEngine #tooltop {
	BACKGROUND-COLOR: #545454; COLOR: #fdfddb;
<!--
	BACKGROUND-IMAGE: url(../../pub/_tooltop.html)
 -->
}
#webEngine #tooltext {
	BACKGROUND-COLOR: #dfdc94
}
#webEngine #tooltexttwo {
	BACKGROUND-COLOR: #dfdc94
}
#webEngine #toolbottom {
	BACKGROUND-COLOR: #545454;
<!--
	BACKGROUND: url(../../pub/_toolbot.html) no-repeat center top
 -->
}
#webEngine .linkedimages A:link {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .linkedimages A:visited {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .linkedimages A:hover {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine .linkedimages A:active {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webEngine #footer {
	COLOR: #fff
}


/* WEB-SPECIFIC (Four) */

#webFour {
	BACKGROUND-COLOR: #f1f1f1
}
#webFour #head {
	
}
#webFour #pagedefault {
	BACKGROUND: url(../../pub/Four_lines.html) #f1f1f1 0px 0px
}
#webFour #maincol {
	BACKGROUND: url(../../pub/Four_bg_bot.html) no-repeat 0px 0px
}
#webbgFour {
	BACKGROUND-COLOR: #bbb97c
}
#webFour #footer {
	BACKGROUND-COLOR: #bbb97c
}
#webFour #tooltop {
	BACKGROUND-COLOR: #545454; COLOR: #fdfddb;
<!--
	BACKGROUND-IMAGE: url(../../pub/Four_tooltop.html)
 -->
}
#webFour #tooltext {
	BACKGROUND-COLOR: #dfdc94
}
#webFour #tooltexttwo {
	BACKGROUND-COLOR: #dfdc94
}
#webFour #toolbottom {
	BACKGROUND-COLOR: #545454;
<!--
	BACKGROUND: url(../../pub/Four_toolbot.html) no-repeat center top
 -->
}
#webFour .linkedimages A:link {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webFour .linkedimages A:visited {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webFour .linkedimages A:hover {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webFour .linkedimages A:active {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webFour #footer {
	COLOR: #fff
}


/* WEB-SPECIFIC (Main) */

#webMain {
	BACKGROUND-COLOR: #f1f1f1
}
#webMain #head {
	
}
#webMain #pagedefault {
	BACKGROUND: url(../../pub/Main_lines.gif) #f1f1f1 0px 0px
}
#webbgMain {
	BACKGROUND-COLOR: #666666
}
#webMain #footer {
	BACKGROUND-COLOR: #666666
}
#webMain #tooltop {
	BACKGROUND-COLOR: #545454; COLOR: #fdfddb;
<!--
	BACKGROUND-IMAGE: url(../../pub/Main_tooltop.gif)
 -->
}
#webMain #tooltext {
	BACKGROUND-COLOR: #acacac
}
#webMain #tooltexttwo {
	BACKGROUND-COLOR: #acacac
}
#webMain #toolbottom {
	BACKGROUND-COLOR: #545454;
<!--
	BACKGROUND: url(../../pub/Main_toolbot.gif) no-repeat center top
 -->
}
#webMain .linkedimages A:link {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .linkedimages A:visited {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .linkedimages A:hover {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webMain .linkedimages A:active {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webMain #footer {
	COLOR: #fff
}


/* WEB-SPECIFIC (One) */

#webOne {
	BACKGROUND-COLOR: #f1f1f1
}
#webOne #head {
	
}
#webOne #pagedefault {
	BACKGROUND: url(../../pub/One_lines.html) #f1f1f1 0px 0px
}
#webOne #maincol {
	BACKGROUND: url(../../pub/One_bg_bot.html) no-repeat 0px 0px
}
#webbgOne {
	BACKGROUND-COLOR: #bbb97c
}
#webOne #footer {
	BACKGROUND-COLOR: #bbb97c
}
#webOne #tooltop {
	BACKGROUND-COLOR: #545454; COLOR: #fdfddb;
<!--
	BACKGROUND-IMAGE: url(../../pub/One_tooltop.html)
 -->
}
#webOne #tooltext {
	BACKGROUND-COLOR: #dfdc94
}
#webOne #tooltexttwo {
	BACKGROUND-COLOR: #dfdc94
}
#webOne #toolbottom {
	BACKGROUND-COLOR: #545454;
<!--
	BACKGROUND: url(../../pub/One_toolbot.html) no-repeat center top
 -->
}
#webOne .linkedimages A:link {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webOne .linkedimages A:visited {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webOne .linkedimages A:hover {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webOne .linkedimages A:active {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webOne #footer {
	COLOR: #fff
}


/* WEB-SPECIFIC (Powered) */

#webPowered {
	BACKGROUND-COLOR: #f1f1f1
}
#webPowered #head {
	
}
#webPowered #pagedefault {
	BACKGROUND: url(../../pub/Powered_lines.html) #f1f1f1 0px 0px
}
#webPowered #maincol {
	BACKGROUND: url(../../pub/Powered_bg_bot.html) no-repeat 0px 0px
}
#webbgPowered {
	BACKGROUND-COLOR: #b18a6f
}
#webPowered #footer {
	BACKGROUND-COLOR: #b18a6f
}
#webPowered #tooltop {
	BACKGROUND-COLOR: #545454; COLOR: #fdfddb;
<!--
	BACKGROUND-IMAGE: url(../../pub/Powered_tooltop.html)
 -->
}
#webPowered #tooltext {
	BACKGROUND-COLOR: #acacac
}
#webPowered #tooltexttwo {
	BACKGROUND-COLOR: #acacac
}
#webPowered #toolbottom {
	BACKGROUND-COLOR: #545454;
<!--
	BACKGROUND: url(../../pub/Powered_toolbot.html) no-repeat center top
 -->
}
#webPowered .linkedimages A:link {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webPowered .linkedimages A:visited {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webPowered .linkedimages A:hover {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webPowered .linkedimages A:active {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webPowered #footer {
	COLOR: #fff
}


/* WEB-SPECIFIC (TWiki) */

#webTWiki {
	BACKGROUND-COLOR: #f1f1f1
}
#webTWiki #head {
	
}
#webTWiki #pagedefault {
	BACKGROUND: url(../../pub/TWiki_lines.gif) #f1f1f1 0px 0px
}
#webTWiki #maincol {
	BACKGROUND: url(../../pub/TWiki_bg_bot.html) no-repeat 0px 0px
}
#webbgTWiki {
	BACKGROUND-COLOR: #dbada7
}
#webTWiki #footer {
	BACKGROUND-COLOR: #dbada7
}
#webTWiki #tooltop {
	BACKGROUND-COLOR: #545454; COLOR: #fdfddb;
<!--
	BACKGROUND-IMAGE: url(../../pub/TWiki_tooltop.gif)
 -->
}
#webTWiki #tooltext {
	BACKGROUND-COLOR: #f8f4f2
}
#webTWiki #tooltexttwo {
	BACKGROUND-COLOR: #f8f4f2
}
#webTWiki #toolbottom {
	BACKGROUND-COLOR: #545454;
<!--
	BACKGROUND: url(../../pub/TWiki_toolbot.gif) no-repeat center top
 -->
}
#webTWiki .linkedimages A:link {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTWiki .linkedimages A:visited {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTWiki .linkedimages A:hover {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTWiki .linkedimages A:active {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTWiki #footer {
	COLOR: #fff
}


/* WEB-SPECIFIC (Three) */

#webThree {
	BACKGROUND-COLOR: #f1f1f1
}
#webThree #head {

}
#webThree #pagedefault {
	BACKGROUND: url(../../pub/Three_lines.gif) #f1f1f1 0px 0px
}
#webThree #maincol {
	
}
#webbgThree {
	BACKGROUND-COLOR: #666666
}
#webThree #footer {
	BACKGROUND-COLOR: #666666
}
#webThree #tooltop {
	BACKGROUND-COLOR: #545454; COLOR: #fdfddb;
<!--
	BACKGROUND-IMAGE: url(../../pub/Three_tooltop.gif)
 -->
}
#webThree #tooltext {
	BACKGROUND-COLOR: #acacac
}
#webThree #tooltexttwo {
	BACKGROUND-COLOR: #acacac
}
#webThree #toolbottom {
	BACKGROUND-COLOR: #545454;
<!--
	BACKGROUND: url(../../pub/Three_toolbot.gif) no-repeat center top
 -->
}
#webThree .linkedimages A:link {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webThree .linkedimages A:visited {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webThree .linkedimages A:hover {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webThree .linkedimages A:active {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webThree #footer {
	COLOR: #fff
}


/* WEB-SPECIFIC (Two) */

#webTwo {
	BACKGROUND-COLOR: #f1f1f1
}
#webTwo #head {

}
#webTwo #pagedefault {
	BACKGROUND: url(../../pub/Two_lines.gif) #f1f1f1 0px 0px
}
#webTwo #maincol {
	
}
#webbgTwo {
	BACKGROUND-COLOR: #9ca4be
}
#webTwo #footer {
	BACKGROUND-COLOR: #9ca4be
}
#webTwo #tooltop {
	BACKGROUND-COLOR: #545454; COLOR: #fdfddb;
<!--
	BACKGROUND-IMAGE: url(../../pub/Two_tooltop.gif)
 -->
}
#webTwo #tooltext {
	BACKGROUND-COLOR: #acacac
}
#webTwo #tooltexttwo {
	BACKGROUND-COLOR: #acacac
}
#webTwo #toolbottom {
	BACKGROUND-COLOR: #545454;
<!--
	BACKGROUND: url(../../pub/Two_toolbot.gif) no-repeat center top
 -->
}
#webTwo .linkedimages A:link {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTwo .linkedimages A:visited {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTwo .linkedimages A:hover {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTwo .linkedimages A:active {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTwo #footer {
	COLOR: #fff
}


/* WEB-SPECIFIC (Test) */

#webTest {
	BACKGROUND-COLOR: #f1f1f1
}
#webTest #head {

}
#webTest #pagedefault {
	BACKGROUND: url(../../pub/Test_lines.html) #f1f1f1 0px 0px
}
#webTest #maincol {
	
}
#webbgTest {
	BACKGROUND-COLOR: #9ca4be
}
#webTest #footer {
	BACKGROUND-COLOR: #9ca4be
}
#webTest #tooltop {
	BACKGROUND-COLOR: #545454; COLOR: #fdfddb;
<!--
	BACKGROUND-IMAGE: url(../../pub/Test_tooltop.html)
 -->
}
#webTest #tooltext {
	BACKGROUND-COLOR: #b6bdde
}
#webTest #tooltexttwo {
	BACKGROUND-COLOR: #b6bdde
}
#webTest #toolbottom {
	BACKGROUND-COLOR: #545454;
<!--
	BACKGROUND: url(../../pub/Test_toolbot.html) no-repeat center top
 -->
}
#webTest .linkedimages A:link {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTest .linkedimages A:visited {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTest .linkedimages A:hover {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTest .linkedimages A:active {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTest #footer {
	COLOR: #fff
}


/* WEB-SPECIFIC (Trash) */

#webTrash {
	BACKGROUND-COLOR: #f1f1f1
}
#webTrash #head {
	BORDER-BOTTOM: #b5aa87 5px solid; BACKGROUND: url(../../pub/Trash_bg_top.html) #f4f1ed no-repeat 0px 0px
}
#webTrash #pagedefault {
	BACKGROUND: url(../../pub/Trash_lines.gif) #f1f1f1 0px 0px
}
#webTrash #maincol {
	BACKGROUND: url(../../pub/Trash_bg_bot.html) no-repeat 0px 0px
}
#webbgTrash {
	BACKGROUND-COLOR: #b5aa87
}
#webTrash #footer {
	BACKGROUND-COLOR: #b5aa87
}
#webTrash #tooltop {
	BACKGROUND-COLOR: #545454; COLOR: #fdfddb;
<!--
	BACKGROUND-IMAGE: url(../../pub/Trash_tooltop.gif)
 -->
}
#webTrash #tooltext {
	BACKGROUND-COLOR: #ded0a6
}
#webTrash #tooltexttwo {
	BACKGROUND-COLOR: #ded0a6
}
#webTrash #toolbottom {
	BACKGROUND-COLOR: #545454;
<!--
	BACKGROUND: url(../../pub/Trash_toolbot.gif) no-repeat center top
 -->
}
#webTrash .linkedimages A:link {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTrash .linkedimages A:visited {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTrash .linkedimages A:hover {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTrash .linkedimages A:active {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webTrash #footer {
	COLOR: #fff
}


/* WEB-SPECIFIC (UDNDev) */

#webUDNDev {
	BACKGROUND-COLOR: #f1f1f1
}
#webUDNDev #head {
	
}
#webUDNDev #pagedefault {
	BACKGROUND: url(../../pub/UDNDev_lines.html) #f1f1f1 0px 0px
}
#webUDNDev #maincol {
	BACKGROUND: url(../../pub/UDNDev_bg_bot.html) no-repeat 0px 0px
}
#webbgUDNDev {
	BACKGROUND-COLOR: #bbb97c
}
#webUDNDev #footer {
	BACKGROUND-COLOR: #bbb97c
}
#webUDNDev #tooltop {
	BACKGROUND-COLOR: #545454; COLOR: #fdfddb;
<!--
	BACKGROUND-IMAGE: url(../../pub/UDNDev_tooltop.html)
 -->
}
#webUDNDev #tooltext {
	BACKGROUND-COLOR: #dfdc94
}
#webUDNDev #tooltexttwo {
	BACKGROUND-COLOR: #dfdc94
}
#webUDNDev #toolbottom {
	BACKGROUND-COLOR: #545454;
<!--
	BACKGROUND: url(../../pub/UDNDev_toolbot.html) no-repeat center top
 -->
}
#webUDNDev .linkedimages A:link {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webUDNDev .linkedimages A:visited {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webUDNDev .linkedimages A:hover {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webUDNDev .linkedimages A:active {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM-WIDTH: 0px
}
#webUDNDev #footer {
	COLOR: #fff
}


/* MORE WEB-SPECIFIC */

#webAdmin {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px; voice-family: inherit
}
#webEngine {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px; voice-family: inherit
}
#webFour {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px; voice-family: inherit
}
#webMain {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px; voice-family: inherit
}
#webOne {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px; voice-family: inherit
}
#webPowered {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px; voice-family: inherit
}
#webTWiki {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px; voice-family: inherit
}
#webThree {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px; voice-family: inherit
}
#webTwo {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px; voice-family: inherit
}
#webTest {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px; voice-family: inherit
}
#webTrash {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px; voice-family: inherit
}
#webUDNDev {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px; voice-family: inherit
}
